@inherits ManageBase
@page "/beheer"

@using StockManagement.Domain

<h3>Beheer</h3>
<div class="btn-group btn-group-sm mb-1">
    <a href="/beheer/categorie" class="btn btn-success mr-1"><i class="oi oi-plus"></i>Categorie</a>
    <a href="/beheer/product" class="btn btn-success mr-1"><i class="oi oi-plus"></i>Product</a>
    <a href="/beheer/leverancier" class="btn btn-success"><i class="oi oi-plus"></i>Leverancier</a>
</div>

<div class="row">
    @if (_sortedCategories != null)
    {
        <div class="col col-md-6">
            <div class="table-responsive">
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th @onclick="SortByCategory">Categorie</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Category cat in _sortedCategories)
                        {
                            <tr>
                                <td @onclick="(() => NavigateToCategory(cat))">@cat.CategoryName</td>
                                <td>
                                    <div class="btn-group btn-group-sm d-flex justify-content-end">
                                        <button @onclick="(() => ChangeVisibility(cat))" class="btn btn-sm @(cat.IsVisible ? "btn-primary" : "btn-outline-primary")"><i class="oi oi-eye"></i></button>
                                        <a href="/beheer/categorie/@(cat.Id)" class="btn btn-sm btn-secondary"><i class="oi oi-pencil"></i></a>
                                        @if (cat.Products == null || cat.Products.Count == 0)
                                        {
                                            <button @onclick="@(() => DeleteCategory(@cat.Id))" class="btn btn-sm btn-danger"><i class="oi oi-trash"></i></button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-sm btn-danger" disabled><i class="oi oi-trash"></i></button>
                                        }

                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="col col-md-6">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
    }

    @if (_sortedSuppliers != null)
    {
        <div class="col col-md-6">
            <div class="table-responsive">
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th @onclick="SortBySupplier">Leverancier</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Supplier sup in _sortedSuppliers)
                        {
                            <tr>
                                <td @onclick="(() => NavigateToSupplier(sup))">@sup.SupplierName</td>
                                <td>
                                    <div class="btn-group btn-group-sm d-flex justify-content-end">
                                        <a href="/beheer/leverancier/@(sup.Id)" class="btn btn-sm btn-secondary"><i class="oi oi-pencil"></i></a>
                                        @if (sup.Items == null || sup.Items.Count == 0)
                                        {
                                            <button @onclick="@(() => DeleteSupplier(sup.Id))" class="btn btn-sm btn-danger"><i class="oi oi-trash"></i></button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-sm btn-danger" disabled><i class="oi oi-trash"></i></button>
                                        }

                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="col col-md-6 d-sm-none">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
    }
</div>
