@inherits ManageBase
@page "/beheer"

@using StockManagement.Domain
@using StockManagement.Pages.DialogComponents

<h3>Beheer</h3>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <button class="btn btn-success" @onclick="AddCategory"><i class="oi oi-plus"></i>Categorie</button>
        </div>

        <table class="table table-striped table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Naam</th>
                    <th>#</th>
                    <th></th>
                </tr>
            </thead>

            @if (_categories != null)
            {
                @foreach (Category cat in _categories)
                {
                    <tr>
                        <td>@cat.Id</td>
                        <td>@cat.CategoryName</td>
                        @if (_products != null)
                        {
                            <td>@GetAmountOfProducts(cat)</td>
                        }
                        <td>
                            <div>
                                <button @onclick="@(() => EditCategory(@cat.Id))" class="btn btn-secondary"><i class="oi oi-pencil"></i></button>
                                <button @onclick="@(() => DeleteCategory(@cat.Id))" class="btn btn-danger"><i class="oi oi-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                }
            }

        </table>
        @if (_deleteFailCategory)
        {
            <p class="text-danger">Verwijderen van categorie mislukt</p>
        }
    </div>
    <div class="col-md-7">
        <div class="form-group">
            <button class="btn btn-success" @onclick="AddProduct"><i class="oi oi-plus"></i>Product</button>
        </div>

        <table class="table table-striped table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Omschrijving</th>
                    <th>P/N</th>
                    <th>Categorie</th>
                    <th>#</th>
                    <th></th>
                </tr>
            </thead>

            @if (_products != null)
            {
                @foreach (Product prod in _products)
                {
                    <tr>
                        <td>@prod.Id</td>
                        <td>@prod.Description</td>
                        <td>@prod.ProductNumber</td>
                        <td>@prod.Category.CategoryName</td>
                        <td>@prod.AmountInStock</td>
                        <td>
                            <div>
                                <button class="btn btn-primary" @onclick="@(() => GetItems(prod.Id))"><i class="oi oi-magnifying-glass"></i></button>
                                <button @onclick="@(() => EditProduct(@prod.Id))" class="btn btn-secondary"><i class="oi oi-pencil"></i></button>
                                <button @onclick="@(() => DeleteProduct(@prod.Id))" class="btn btn-danger"><i class="oi oi-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                }
            }

        </table>
    </div>
    

    
</div>


@if (_deleteFailProduct)
{
    <p class="text-danger">Verwijderen van product mislukt</p>
}
@if (_loadFail)
{
    <p class="text-danger">Fout bij het inladen van de data. Herlaad de Pagina.</p>
}

@code {

}
