@inherits ItemFormInBase

@page "/itemform/in"
@page "/itemform/in/{serialnr}"
@page "/itemform/in/id/{id:int}"
@using StockManagement.Domain;
@using StockManagement.Pages.ReuseableComponents
<h1>Zet item in stock</h1>

<div class="form-group">
    <label for="serialnr">Serienummer</label>
    <input class="form-control" type="text" @bind="SerialNr" />
</div>
<div class="form-group">
    <label for="category">Category</label>
    <select id="category" class="form-control" value="@_selectedCategory" @onchange="FireChange">
        <option value="" selected hidden>Kies een categorie</option>

        @if (_categories != null)
            {
        @foreach (Category cat in _categories)
                {
        <option value=@cat.Id>@cat.CategoryName</option>
                }
            }
    </select>
</div>
<div class="form-group">
    <label for="product">Product</label>
    <select id="product" class="form-control" @bind="_selectedDescription">
        <option value="" selected hidden>Kies een product</option>
        @if (_descriptions != null)
            {
        @foreach (Product item in _descriptions)
                {
        <option value=@item.Id>@item.Description</option>
                }
            }
    </select>
</div>
<div class="form-group">
    <label for="supplier">Leverancier</label>
    <select id="supplier" class="form-control" @bind="_selectedSupplier">
        <option value="" selected hidden>Kies een leverancier</option>
        @if (_suppliers != null)
            {
        @foreach (Supplier supplier in _suppliers)
                {
        <option value=@supplier.Id>@supplier.SupplierName</option>
                }
            }
    </select>
</div>
<div class="form-group">
    <label for="isdefective">Is defect</label>
    <input id="isdefective" class="form-check" type="checkbox" checked="@_isDefective" @onchange="@CheckDefective" />

</div>
<div class="form-group">
    <FileUploadComponent @ref="_fileUpload" Container="@("item"+Id)" />
    <button class="btn btn-secondary" @onclick="Clear">Clear</button>
</div>

<div class="form-group">
    <label for="comment">Opmerkingen</label>
    <input id="comment" class="form-control " @bind="_comment" />
</div>
@if (_submitFail)
{
    <p class="text-danger">Ongeldige invoergegevens</p>
}
@if (_duplicateItem)
{
<p class="text-danger">Items hebben een uniek serienummer per product</p>
}

<button class="btn btn-primary" @onclick="Submit">Voeg toe</button>

@code {

}