@inherits ItemListBase

@page "/itemlijst/{id:int}"
@page "/{route}/itemlijst/{id:int}"
@page "/leverancier/itemlijst/{SupplierId:int}"
@using StockManagement.Domain

@if (_supplier != null || _product != null)
{
    if (_supplier == null)
    {
        @if (Route == "beheer")
        {
            <a href="/beheer/productlijst/@(_product.Category.Id)" class="btn btn-outline-info"><i class="oi oi-arrow-thick-left"></i></a>
        }
        else
        {
            <a href="/productlijst/@(_product.Category.Id)" class="btn btn-outline-info"><i class="oi oi-arrow-thick-left"></i></a>
        }
        <h3 class="d-inline">@_product.Description</h3>
    }
    else
    {
        <a href="/beheer" class="btn btn-outline-info"><i class="oi oi-arrow-thick-left"></i></a>
        <h3 class="d-inline">@_supplier.SupplierName</h3>
    }

    @if (_items != null)
    {
        <div class="form-group row">
            <div class="input-group col-sm-6">
                <input class="form-control" type="text" @bind="_filterString" @onkeydown="Filter" />
                <div class="input-group-append">
                    <select class="form-control" @bind=@_selectedStatus>
                        <option hidden selected value="">Status</option>
                        <option value="@ItemStatus.INSTOCK">In stock</option>
                        <option value="@ItemStatus.OUTSTOCK">Uit stock</option>
                        <option value="@ItemStatus.STOLEN">Gestolen</option>
                        <option value="@ItemStatus.INACTIVE">End-of-life</option>
                        <option value="@ItemStatus.DEFECTIVE">Defective</option>
                    </select>
                    <button class="btn btn-primary btn-sm" @onclick="Filter">Filter</button>
                </div>
            </div>
        </div>


        <div class="table-responsive">
            <table class="table table-sm table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>S/N</th>
                        <th>In stock</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Item item in _filteredItems)
                    {
                        <tr @onclick="(() => RowExpand(item))">
                            <td>@item.SerialNumber</td>
                            <td>
                                @if (item.ItemStatus == ItemStatus.INSTOCK)
                                {
                                    <i class="oi oi-circle-check text-success"></i>
                                }
                                else
                                {
                                    <i class="oi oi-circle-x text-danger"></i>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}
else
{
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
}