@inherits ItemHistoryBase

@using StockManagement.Domain;
@using StockManagement.Pages.ReuseableComponents
@page "/itemhistoriek/{id:int}"
<a href="/itemlijst/@(_item.Product.Id)" class="btn btn-outline-info"><i class="oi oi-arrow-thick-left"></i></a>
<h4 class="d-inline">Upload foto</h4>
<div class="form-group">

    <FileUploadComponent @ref="_fileUpload" Container="@("item"+Id)" />
    <div>
        <button class="btn btn-primary" @onclick="Upload">Upload</button>
        <button class="btn btn-secondary" @onclick="Clear">Clear</button>
    </div>
</div>
<BlobsComponent Container="@("item"+Id)" @ref="_blobsComponent" />
<h3>Gebruikshistoriek</h3>
<table class="table striped table-responsive">
    <thead class="thead-dark">
        <tr>
            <th>Gebruiker</th>
            <th>Toegewezen door</th>
            <th>Van</th>
            <th>Tot</th>
        </tr>
    </thead>
    <tbody>
        @if (_itemusers != null)
        {
            @foreach (ItemUser iu in _itemusers)
            {
                <tr>
                    <td>@iu.User.Mail</td>
                    <td>@iu.AssignedBy.Mail</td>
                    <td>@iu.FromDate</td>
                    <td>@iu.ToDate</td>
                </tr>
            }
        }
    </tbody>
</table>

@code {


}
