@using StockManagement.Domain

<div class="table-responsive border border-dark">
    <table class="table table-sm">
        <tr>
            <th style="width: 16.66%">User</th>
            <td>@ItemUser.User.Mail</td>
        </tr>
        <tr>
            <th style="width: 16.66%">Toewijzer</th>
            <td>@ItemUser.AssignedBy.Mail</td>
        </tr>
        <tr>
            <th style="width: 16.66%">Van</th>
            <td>@ItemUser.FromDate</td>
        </tr>
        @if (ItemUser.ToDate != null)
        {
            <tr>
                <th style="width: 16.66%">Tot</th>
                <td>@ItemUser.ToDate</td>
            </tr>
            <tr>
                <th style="width: 16.66%">Teruglegger</th>
                <td>@ItemUser.ReturnedBy.Mail</td>
            </tr>
        }

    </table>
</div>

@code {
    [Parameter]
    public ItemUser ItemUser { get; set; }
}
