@inherits ProductListBase

@page "/productlijst/{id:int}"
@using StockManagement.Domain
@using Blazored.Typeahead
<div class="mb-2">
    <a href="/overzicht" class="btn btn-outline-info"><i class="oi oi-arrow-thick-left"></i></a>
    <h3 class="d-inline">@_category</h3>
</div>

<div class="mb-1 row">
    <div class="input-group col-sm-6">
        <input class="form-control" type="text" @bind="_filterString" @onkeydown="Filter" />
        <div class="input-group-append">
            <button class="btn btn-primary btn-sm" @onclick="Filter">Filter</button>
        </div>
    </div>
</div>

<div class="table-responsive">
    @if (_filteredProducts != null)
    {
        <table id="productList" class="table table-sm table-hover">
            <thead class="thead-dark">
                <tr>
                    <th class="w-50">Productnaam</th>
                    <th class="d-none d-md-table-cell">Productnummer</th>
                    <th class="w-25">#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Product prod in _filteredProducts)
                {
                    <tr id="product@(prod.Id)" @onclick="(() => NavigateToProductDetail(prod))">
                        <td class="w-50">@prod.Description</td>
                        <td class="d-none d-md-table-cell">@prod.ProductNumber</td>
                        <td class="w-25 @(prod.AmountInStock == 0 ? "text-danger" : "text-success")">@prod.AmountInStock</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {

        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    }
</div>