@using StockManagement.Domain

<div class="table-responsive border">
    <table class="table table-sm">
        <tr>
            <th style="width: 16.66%">Email</th>
            <td>@ADUser.Mail</td>
        </tr>
        <tr>
            <th style="width: 16.66%">Voornaam</th>
            <td>@ADUser.FirstName</td>
        </tr>
        <tr>
            <th style="width: 16.66%">Naam</th>
            <td>@ADUser.LastName</td>
        </tr>
        <tr>
            <th style="width: 16.66%">GSM</th>
            <td>@ADUser.MobilePhone</td>
        </tr>
        <tr>
            <th style="width: 16.66%">Kantoor</th>
            <td>@ADUser.Office</td>
        </tr>
        <tr>
            <th style="width: 16.66%">Functie</th>
            <td>@ADUser.OfficeRole</td>
        </tr>
        @if (ADUser.MobileSubscriptions != null && ADUser.MobileSubscriptions.Count != 0)
        {
            <tr>
                <th>GSM-Abonnementen</th>
            </tr>
            @foreach (MobileSubscription sub in ADUser.MobileSubscriptions)
            {
                <tr>
                    <th style="width: 16.66%">GSM</th>
                    <td style="width: 16.66%">@sub.MobileNumber</td>
                    <th style="width: 16.66%">Type</th>
                    <td style="width: 16.66%">@sub.SubscriptionType</td>
                </tr>
            }
        }
    </table>
</div>


@code {
    [Parameter]
    public ADUser ADUser { get; set; }
}
