@using StockManagement.Domain

<div class="table-responsive table-responsive-sm">
    <table class="table table-sm">
        <tr>
            <th>Email</th>
            <td>@ADUser.Mail</td>
        </tr>
        <tr>
            <th>Voornaam</th>
            <td>@ADUser.FirstName</td>
        </tr>
        <tr>
            <th>Naam</th>
            <td>@ADUser.LastName</td>
        </tr>
        <tr>
            <th>GSM</th>
            <td>@ADUser.MobilePhone</td>
        </tr>
        <tr>
            <th>Kantoor</th>
            <td>@ADUser.Office</td>
        </tr>
        <tr>
            <th>Functie</th>
            <td>@ADUser.OfficeRole</td>
        </tr>
    </table>
</div>


@code {
    [Parameter]
    public ADUser ADUser { get; set; }
}
