@using StockManagement.Domain

<div class="table-responsive border border-dark">
    <table class="table table-sm">
        <tr>
            <th style="width: 16.66%">Email</th>
            <td>@ADUser.Mail</td>
        </tr>
        <tr>
            <th style="width: 16.66%">Voornaam</th>
            <td>@ADUser.FirstName</td>
        </tr>
        <tr>
            <th style="width: 16.66%">Naam</th>
            <td>@ADUser.LastName</td>
        </tr>
        <tr>
            <th style="width: 16.66%">GSM</th>
            <td>@ADUser.MobilePhone</td>
        </tr>
        <tr>
            <th style="width: 16.66%">Kantoor</th>
            <td>@ADUser.Office</td>
        </tr>
        <tr>
            <th style="width: 16.66%">Functie</th>
            <td>@ADUser.OfficeRole</td>
        </tr>
    </table>
</div>


@code {
    [Parameter]
    public ADUser ADUser { get; set; }
}
