@inherits UserListBase

@page "/gebruikers"

@using StockManagement.Domain
@using Blazored.Typeahead
<a href="/overzicht" class="btn btn-outline-info"><i class="oi oi-arrow-thick-left"></i></a>
<h3 class="d-inline">Gebruikers</h3>
<div class="form-group">
    <BlazoredTypeahead SearchMethod="SearchUser" @bind-Value="_selectedUser">
        <SelectedTemplate>@context.FirstName @context.LastName | @context.Mail</SelectedTemplate>
        <ResultTemplate>@context.FirstName @context.LastName | @context.Mail</ResultTemplate>
    </BlazoredTypeahead>
    <button class="btn btn-sm btn-primary float-right" @onclick="GetSelectedUser">Zoek</button>
</div>




@if (_users != null)
{
<div class="row">
    @foreach (ADUser user in _users)
    {
        <div class="col-lg-4 mb-2">
            <button class="btn btn-sm btn-primary" @onclick="(() => GetUser(user.Id))"><i class="oi oi-magnifying-glass"></i></button>
            <UserComponent ADUser="user"/>
        </div>
    }
</div>
}

