@inherits UserDetailBase

@page "/gebruiker/{id}"
@using StockManagement.Domain
<div class="mb-2">
    <a href="/gebruikers" class="btn btn-outline-info"><i class="oi oi-arrow-thick-left"></i></a>
    <h3 class="d-inline">Gebruiker</h3>
</div>

@if (_user != null)
{
    <div class="row mb-1">
        <div class="d-none d-sm-block col-sm-3 col-lg-1">
            <img class="img-fluid" src="/images/person.jpg" />
        </div>
        <div class="col-sm-9 col-lg-11">
            <div class="mb-1">
                <UserComponent ADUser="_user" />
            </div>
            <div class="btn-group btn-group-sm">
                <a href="/mail/@(Id)" class="btn btn-sm btn-primary"><i class="oi oi-envelope-closed"></i></a>
                <button class="btn btn-secondary" @onclick="AddSubscription"><i class="oi oi-plus"></i></button>
            </div>
        </div>
    </div>
}

<h3>Items in gebruik</h3>
@if (_items != null)
{
    @if (_items.Count != 0)
    {
        <div class="table-responsive">
            <table class="table table-sm table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th width="30%">Omschrijving</th>
                        <th width="30%" class="d-none d-md-table-cell">P/N</th>
                        <th width="30%">S/N</th>
                        <th width="10%">
                            <div class="btn-group btn-group-sm">
                                <button @onclick="ShowConfirmation" class="btn btn-sm btn-outline-warning"><i class="oi oi-arrow-circle-right"></i></button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (Item item in _items)
                    {
                        <tr @onclick="(() => NavigateToItem(item))">
                            <td>@item.Product.Description</td>
                            <td class="d-none d-md-table-cell">@(item.Product.ProductNumber.Split(" ")[0] == "NOPRODUCTNR" ? "Geen productnummer beschikbaar." : item.Product.ProductNumber)</td>
                            <td>@(item.SerialNumber.Split(" ")[0] == "NOSERIALNR" ? "Geen serienummer beschikbaar." : item.SerialNumber)</td>
                            
                                <td @onclick:stopPropagation>
                                    <div class="btn-group btn-group-sm">
                                        <button class="btn btn-sm btn-outline-warning" @onclick="(()=>ReturnItem(item))"><i class="oi oi-arrow-circle-right"></i></button>
                                    </div>
                                </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>Geen items.</p>
    }

}
else
{
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
}
<h3>Historiek</h3>

@if (_itemusers != null)
{
    @if (_itemusers.Count != 0)
    {

        <div class="table-responsive">
            <table class="table table-sm table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th width="35%">Omschrijving</th>
                        <th width="35%" class="d-none d-md-table-cell">S/N</th>
                        <th width="15%">Van</th>
                        <th width="15%">Tot</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ItemUser iu in _itemusers)
                    {
                        <tr @onclick="(() => NavigateToItem(iu.Item))">
                            <td>@iu.Item?.Product.Description</td>
                            <td class="d-none d-md-table-cell">@(iu.Item?.SerialNumber.Split(" ")[0] == "NOSERIALNR" ? "Geen serienummer beschikbaar." : iu.Item.SerialNumber)</td>
                            <td>@iu.FromDate.ToString("dd/MM/yyyy")</td>
                            <td>@(iu.ToDate?.ToString("dd/MM/yyyy"))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    }
    else
    {
        <p>Geen data.</p>
    }
}
else
{
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
}


